<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nice Locations</title>
</head>
<body>
  <h1>Nice locations</h1>
  <ul>
    {{#each locations}}
    <li>{{this}}</li>
    {{/each}}
  </ul>    
</body>
</html>
